body
{
  font-family: 'Poppins', sans-serif !important;
  padding-top: 70px;
  background: #e6ebf0 !important;
}

input
{
  font-size: 14px !important;
}

select
{
  font-size: 14px !important;
}

html
{
	overflow-y: scroll !important;
}
form
{
		font-size: 14px !important;
}

.panel
{
    top: 50%;
    left: 50%;
}


.btn
{
	font-size: 13px;
}

.navbar {
  font-weight: 700;
}

.navbar-default {
  box-shadow: none;
}


.form-control::-webkit-input-placeholder
{
	font-size: 14px;
}
.form-control:-moz-placeholder
{
	font-size: 14px;
}
.form-control::-moz-placeholder
{
	font-size: 14px;
}
.form-control:-ms-input-placeholder
{
	font-size: 14px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10.5px;
}

p
{
	font-size: 14px !important;
}
td
{
	font-size: 14px !important;
}
th
{
	font-size: 14px !important;
}

dl{
		font-size: 14px !important;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.well-dark {
  background-color: #00ddb6 !important;
}



.glyphicon{
  padding-right: 5px;
}
